.navbar-user {
    width: 100%;
    height: 55px;
    border-bottom: 0.5px solid #d9d9d9;
}

.navbar-user header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-user header nav img{
    margin-left: 5px;
}

.navbar-user-buttons {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.navbar-user-buttons button{
    border-style: hidden;
    background-color: white;
}
