.course-page-main{
    width: 75%;
    margin-left: 380px;
    height: auto;
}

.course-page-content {
    margin-top: 2px 15px;
    display: flex;
    flex-direction: column;
}

.course-page-actions{
    margin-bottom: 20px;
}
