:root {
    --icon-width: 20px;
    --icon-height: 20px;
    --icon-padding: 5px;
    --icon-margin-bottom: 20px;
}

.sidemenu {
    height: 100%;
    width: 60px;
    display: flex;
    align-items: first baseline;
    justify-content: center;
    position: fixed;
    z-index: 1;
    top: 53px;
    left: 0;
    padding: 5px;
    background-color: #ffffff;
    overflow-x: hidden;
    border: 0.5px solid #d9d9d9;
}

.sidemenu-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.icon {
    width: var(--icon-width);
    height: var(--icon-height);
    padding: var(--icon-padding);
    margin-bottom: var(--icon-margin-bottom);
    background-repeat: no-repeat;
}

.icon:hover,
.icon:focus {
    background-repeat: no-repeat;
}

.home {
    background-image: url('../../assets/icons/home.svg');
}
.home:hover,
.home:focus, .home.active{
    background-image: url('../../assets/icons/home-filled.svg');
}

.status {
    background-image: url('../../assets/icons/status.svg');
}
.status:hover,
.status:focus, .status.active{
    background-image: url('../../assets/icons/status-filled.svg');
}

.adminhub {
    background-image: url('../../assets/icons/adminhub.svg');
}
.adminhub:hover,
.adminhub:focus, .adminhub.active{
    background-image: url('../../assets/icons/admin-filled.svg');
}

.help {
    background-image: url('../../assets/icons/help.svg');
}
.help:hover,
.help:focus, .help.active{
    background-image: url('../../assets/icons/help-filled.svg');
}

.settings {
    background-image: url('../../assets/icons/settings.svg');
}
.settings:hover,
.settings:focus, .settings.active{
    background-image: url('../../assets/icons/settings-filled.svg');
}

.feedback {
    background-image: url('../../assets/icons/feedback.svg');
}
.feedback:hover,
.feedback:focus, .feedback.active{
    background-image: url('../../assets/icons/feedback-filled.svg');
}
.sidemenu-extra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    bottom: 0;
}
